.header {
  border: 1px solid rgba(70, 77, 82, 0.082);
  border-radius: 16px;
  width: 700px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: Georgia, Serif;
}
.nav {
  width: 200px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 5rem;
  right: 3rem;
  background-color: white;
  border: 1px solid rgba(70, 77, 82, 0.082);
  border-radius: 16px;
}
#live {
  color: steelblue;
}

#country {
  list-style-type: none;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0;
  border-radius: 16px;
}

#country .nation {
  border-radius: 16px;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 120;
  font-weight: bold;
  font-family: Georgia, Serif;
}

.Acc {
  border: 1px solid rgba(70, 77, 82, 0.082);
  border-radius: 16px;
  width: 700px;

  margin: 50px auto;
  background-color: white;
  font-family: Georgia, Serif;
  font-weight: bold;
}
#acConfirmed {
  color: tomato;
}
#acDeaths {
  color: dodgerblue;
}
#todaystatic {
  border: 1px solid rgba(70, 77, 82, 0.082);
  border-radius: 16px;
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

#todayConfirmed {
  margin: 20px;
}
#todaynumber {
  font-size: 35px;
}
.compare {
  margin: 20px 0;
}
.comparenumber {
  border-radius: 16px;
  color: rgba(241, 16, 16, 0.753);
  background-color: rgba(233, 175, 175, 0.897);
  padding: 3px;
  text-align: center;
  margin: 5px;
}
#comparelist {
  margin: 20px;
}
.graph {
  width: 700px;

  display: flex;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 50px auto;
  background-color: white;
  border-radius: 16px;
}
body {
  background-color: rgba(245, 245, 245, 0.897);
  font-weight: bold;
  font-family: Georgia, Serif;
}
td {
  padding-left: 45px;
}
a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1240px) {
  .nav {
    display: none;
  }
}
